.button{
    width: 75px;
    height: 75px;
    // bottom: 0;

    border-radius: 50%;
    border: 2px solid white;

    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(78 115 222 / 40%);
    cursor: pointer;
}